<div class="container">
   <div class="content-container">
     <div class="flex-item">
       <div class="user-input-form-box">
         <form method="POST" action="/UniShare/degree/update">
           <input type="number" id="degreeID" value="---ID---" hidden />
           <input type="number" name="degree" value="---ID---" hidden />
           <h4>
             Degree name
           </h4>
           <input id="name" class="user-input-text" type="text" name="name" placeholder="Degree name">
           <h4>
             Field of study
           </h4>
           <input id="field_of_study" class="user-input-text" type="text" name="field_of_study" placeholder="Field of study">
           <h4>
             Start date
           </h4>
           <input id="start_date" class="user-input-text" type="date" name="start_date">
           <h4>
             End date
           </h4>
           <input id="end_date" class="user-input-text" type="date" name="end_date">
           <h4>
             Country
           </h4>
           <input id="country" class="user-input-text" type="text" name="country" placeholder="Country">
           <h4>
             City
           </h4>
           <input id="city" class="user-input-text" type="text" name="city" placeholder="City">
           <h4>
             University
           </h4>
           <input id="university" class="user-input-text" type="text" name="university" placeholder="University">
           <p>
             <input class="button-style-1" type="submit" name="submit_project" value="Update">
           </p>
         </form>
      </div>
    </div>
  </div>
</div>

<script src="/Unishare/js/DegreePage.js" type="text/javascript"></script>
