<div class="container">
  <div class="request-course-container">
    <div class="user-input-form-box">
      <form method="post" action="/UniShare/review/upload">
        <input id="courseID" name="courseID" value="---ID---" hidden />
        <div class="course-rate-box">
          <div class="course-rate-cell">
            <h4>Fulfilling</h4>
            <select id="fulfilling" name="fulfilling">
              <option value="1">1 (Default)</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>

          <div class="course-rate-cell">
            <h4>Environment</h4>
            <select id="environment" name="environment">
              <option value="1">1 (Default)</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>

          <div class="course-rate-cell">
            <h4>Difficulty</h4>
            <select id="difficulty" name="difficulty">
              <option value="1">1 (Default)</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>

          <div class="course-rate-cell">
            <h4>Grading</h4>
            <select id="grading" name="grading">
              <option value="1">1 (Default)</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>

          <div class="course-rate-cell">
            <h4>Litterature</h4>
            <select id="litterature" name="litterature">
              <option value="1">1 (Default)</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>

          <div class="course-rate-cell">
            <h4>Overall</h4>
            <select id="overall" name="overall">
              <option value="1">1 (Default)</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>

        <h4>
          Write a review
        </h4>
        <textarea class="user-input-text" id="text" name="text" placeholder="Text"></textarea>
        <p>
          <input class="button-style-1" type="submit" name="submit_project" value="Upload">
        </p>
      </form>
    </div>
    <div class="review-info">

    </div>
  </div>
</div>

<script src="/Unishare/js/ReviewPage.js" type="text/javascript"></script>

