    <div class="container">
      <div class="content-container">
        <div class="startpage-flex-item">
          <!--===edit===-->
          <h1>Your profile</h1>
            <div class="startpage-display-user">
              <div class="content-card-body">
                <div class="content-user">
                  <div class="content-card-image">
                    <img src="---SRC---" alt="USER IMAGE">
                  </div>

                  <span class="vertical-line"></span>

                  <div class="content-card-info">
                    <h4><b>Personal information</b></h4>
                    <p><b>First name:</b> ---first_name---</p>
                    <p><b>Last name:</b> ---last_name---</p>
                    <p><b>Email: </b>---email---</p>
                  </div>

                  <span class="vertical-line"></span>

                  <div class="content-card-info">
                    <h4><b>Profile information</b></h4>
                    <p><b>Visits:</b> ---visits---</p>
                    <p><b>Projects:</b> ---projects---</p>
                    <p><b>Courses:</b> ---courses---</p>
                    <p><b>Last online:</b> ---last_online---</p>
                  </div>
                  <span class="vertical-line"></span>

                  <div class="content-card-info-buttons">
                    <form action="./profile" method="get">
                      <input type="hidden" name="ID" value="---ID---" />
                      <button type="submit">Profile</button>
                      </form>
                    </div>
                  <span class="vertical-line"></span>
                </div>
              </div>
            </div>
          <!--===edit===-->

          <hr />
          <h1>Top ranked courses</h1>


          <div class="display-result-box">

            <!--===edit===-->
            <p># TOP ---PLACEMENT---</p>
            <div class="content-card-body">
              <div class="content-user">
                <div class="content-card-image">
                  <img src="images/books.png" alt="USER IMAGE">
                </div>

                <div class="content-card-info">
                  <h4><b>Course information</b></h4>
                  <p><b>Name:</b> ---name---</p>
                </div>

                <div class="content-card-info">
                  <h4><b>More</b></h4>
                  <p><b>Score:</b> ---score---</p>
                  <p><b>Location:</b> ---location---</p>
                  <p><b>Added:</b> ---added---</p>
                </div>

                <div class="content-card-info-buttons">
                  <form action="./courses" method="get">
                    <input type="hidden" name="ID" value="---ID---" />
                    <button type="submit">Visit</button>
                  </form>
                </div>
              </div>
            </div>
            <!--===edit===-->
          </div>

          <h1>Trending discussions</h1>
        </div>
      </div>
    </div>
