    <div class="container">
      <div class="content-container">
        <div class="startpage-flex-item">
          <!--===edit===-->
          <h1>Your statistics</h1>
          <div id="statistics-box">
            <div class="content-user">
              <div class="content-card-image">
                <img src="---SRC---" alt="USER IMAGE">
              </div>

              <span class="vertical-line"></span>

              <div class="content-card-info">
                <h4><b>Personal information</b></h4>
                <p><b>First name:</b> ---first_name---</p>
                <p><b>Last name:</b> ---last_name---</p>
                <p><b>Email: </b>---email---</p>
              </div>

              <span class="vertical-line"></span>

              <div class="content-card-info">
                <h4><b>Profile information</b></h4>
                <p><b>Visits:</b> ---visits---</p>
                <p><b>Projects:</b> ---projects---</p>
                <p><b>Courses:</b> ---courses---</p>
                <p><b>Last online:</b> ---last_online---</p>
              </div>
              <span class="vertical-line"></span>

              <div class="content-card-info">
                <form action="./profile" method="get">
                  <input type="hidden" name="ID" value="---ID---" />
                  <button type="submit" class="user-profile-project-button-visit">Profile</button>
                </form>
              </div>

              <span class="vertical-line"></span>
            </div>
          </div>
          <!--===edit===-->

          <hr />
          <h1>Top ranked courses</h1>
          <div class="wrapper-grid">
            <!--===edit===-->
            <div class="wrapper-container-item">
              <img src='images/books.png' alt='profile image' class="small-image">

              <div class="startpage-top-ranked-box">
                  <p>Name: ---course_name---</p>

                  <p class="startpage-top-ranked-score">
                     Score: <b>---score---</b>
                  </p>

                  <p>Total votes: ---total-votes---</p>
              </div>

              <form action="./courses" method="get">
                <input hidden value="---ID---" name="ID"></input>
                <button type="submit" class="user-profile-project-button-visit">Go to course</button>
              </form>
            </div>
            <!--===edit===-->
          </div>
          <h1>Trending discussions</h1>
        </div>
      </div>
    </div>
