<div class="container">
   <div class="content-container">
     <div class="flex-item">
       <div class="user-input-form-box">
         <form method="post" action="/UniShare/post/add">
           <input type="hidden" name="forumID" value="---forumID---"/>
           <h4>
             Add post
           </h4>
           <input id="text" class="user-input-text" type="text" name="text" placeholder="Text">

           <p>
             <input class="button-style-1" type="submit" name="submit_post" value="Post">
           </p>
           
         </form>
      </div>
    </div>
  </div>
</div>
