<div class="container">
   <div class="content-container">
     <div class="flex-item">
       <div class="user-input-form-box">
         <form method="post" enctype='multipart/form-data' action="./degree/upload">
           <h4>
             Publications name
           </h4>
           <input class="user-input-text" type="text" name="name" placeholder="Degree name">
           <h4>
             Field of study
           </h4>
           <input class="user-input-text" type="text" name="field_of_study" placeholder="Field of study">
           <h4>
             Start date
           </h4>
           <input class="user-input-text" type="date" name="start_date">
           <h4>
             End date
           </h4>
           <input class="user-input-text" type="date" name="end_date">
           <h4>
             Location
           </h4>
           <input class="user-input-text" type="text" name="location" placeholder="Location">
           <p>
             <input class="button-style-1" type="submit" name="submit_project" value="Upload">
           </p>
         </form>
       </div>
    </div>
  </div>
</div>