<div class="container">
  <div class="content-container">
    <div class="flex-item">
      <div class="user-content">

        <!-- Tabs -->
        <div class="profile-tab">
          <button class="tablinks" onclick="openTab(event, 'Courses')">Courses</button>
          <button class="tablinks" onclick="openTab(event, 'Requests')">Requested courses</button>
        </div>

        <!--Courses-->
        <div id="Courses" class="profile-tabcontent">
          <!--===Degrees===-->
          <h2 class="user-input-form-box">
            Add course
          </h2>

          <div class="user-input-form-box">
            <h3> Enter degree</h3>
            <form method="post" enctype='multipart/form-data' action="/UniShare/admin/course/add">
              <input class="user-input-text" type="text" name="name" placeholder="Course name">
              <input class="user-input-text" type="number" name="credits" placeholder="Credits">
              <input class="user-input-text" type="number" name="duration" placeholder="@University">
              <input class="user-input-text" type="text" name="added" placeholder="Country">
              <input class="user-input-text" type="text" name="field_of_study" placeholder="City">
              <textarea class="user-input-text" type="text" name="location" placeholder="Enter description"></textarea>
              <p>
                <input class="button-style-1" type="submit" name="submit_project" value="Upload">
              </p>
            </form>
          </div>
        </div>
        
        <div id="Requests" class="profile-tabcontent">
          <!--===Degrees===-->
          <h2 class="user-input-form-box">
            Requested courses
          </h2>
  
          <div class="display-result-box">
      
            <!--===edit===-->
            <div id="request----ID---" class="content-card-body">
              <div class="content-user">
                <div class="content-card-image">
                  <img src="images/books.png" alt="USER IMAGE">
                </div>
      
                <div class="content-card-info">
                  <h4><b>Course information</b></h4>
                  <p><b>Name:</b> ---name---</p>
                  <p><b>Credits:</b> ---credits---</p>
                  <p><b>Duration: </b>---duration---</p>
                  <p><b>University: </b>---university---</p>
                </div>
      
                <div class="content-card-info">
                  <h4><b>More</b></h4>
                  <p><b>Country:</b> ---country---</p>
                  <p><b>City:</b> ---city---</p>
                </div>
      
                <div class="content-card-info-buttons">
                  <button class="button-style-2" onclick="return denyRequest(---ID---);">Deny request</button>
                  <button class="button-style-3" onclick="return approveRequest(---ID---);">Approve request</button>
                </div>
              </div>
            </div>
            <!--===edit===-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/Unishare/js/AdminPage.js" type="text/javascript"></script>

