<div class="container">
  <div class="content-container">
    <div class="flex-item">
      <div class="user-content">

        <!-- Tabs -->
        <div class="profile-tab">
          <button class="tablinks" onclick="openTab(event, 'Courses')">Courses</button>
          <button class="tablinks" onclick="openTab(event, 'Requests')">Requested courses</button>
        </div>

        <!--Courses-->
        <div id="Courses" class="profile-tabcontent">
          <!--===Degrees===-->
          <h2 class="user-input-form-box">
            Add course
          </h2>

          <div class="user-input-form-box">
            <h3> Enter degree</h3>
            <form method="post" enctype='multipart/form-data' action="./admin/course/add">
              <input class="user-input-text" type="text" name="name" placeholder="Course name">
              <input class="user-input-text" type="number" name="credits" placeholder="Credits">
              <input class="user-input-text" type="number" name="duration" placeholder="@University">
              <input class="user-input-text" type="text" name="added" placeholder="Country">
              <input class="user-input-text" type="text" name="field_of_study" placeholder="City">
              <textarea class="user-input-text" type="text" name="location" placeholder="Enter description"></textarea>
              <p>
                <input class="button-style-1" type="submit" name="submit_project" value="Upload">
              </p>
            </form>
          </div>
        </div>
        
        <!--Courses-->
        <div id="Requests" class="profile-tabcontent">
          <!--===Degrees===-->
          <h2 class="user-input-form-box">
            Requested courses
          </h2>
  
          
        </div>

      </div>
    </div>
  </div>
</div>
<script>
  openTab(event, 'Courses');

  function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("profile-tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
