<div class="container">
  <div class="content-container">
    <div class="flex-item">
      <div class="user-content">

        <!-- Tabs -->
        <div class="profile-tab">
          <button class="tablinks" onclick="openTab(event, 'Courses')">Courses</button>
        </div>

        <!--Courses-->
        <div id="Courses" class="profile-tabcontent">
          <!--===Degrees===-->
          <h2 class="user-input-form-box">
            Add course
          </h2>

          <div class="user-input-form-box">
            <h3> Enter degree</h3>
            <form method="post" enctype='multipart/form-data' action="./">
              <input class="user-input-text" type="text" name="name" placeholder="Course name">
              <input class="user-input-text" type="number" name="name" placeholder="Credits">
              <input class="user-input-text" type="number" name="name" placeholder="@University">
              <input class="user-input-text" type="number" name="name" placeholder="Country">
              <input class="user-input-text" type="number" name="name" placeholder="City">
              <textarea class="user-input-text" type="text" name="description" placeholder="Enter description"></textarea>
              <p>
                <input class="user-profile-project-button-upload" type="submit" name="submit_project" value="Upload">
              </p>
            </form>
          </div>

          <br />
          <h2 class="user-input-form-box">
            Browse courses
          </h2>
          <br />
          <div class="filter-bar">
            <form method="get">
              <p>
                Sort by
              </p>
              <select name="filter_option">
                <option value="none">None</option>
                <option value="visits">Visits</option>

                <option value="last_online">Last online</option>
              </select>
              <fieldset name="filter_order">
                  <p>Order by</p>
                  <input type="radio" name="action" id="track" value="ASC" /><label for="track">ASC</label><br />
                  <input type="radio" name="action" id="event" value="DESC" /><label for="event">DESC</label><br />
              </fieldset>
              <p>
                Search
                <input class="user-input-text" id="email" type="text" name="email" placeholder="Search">
              </p>
              <button class="user-profile-project-button-visit" type="submit" width="50px" height="50px" name="filter_button" value="GO">Filter</button>
            </form>
          </div>

          <!-- View entries -->
          <div class="display-result-box">
            <p class="txt-small">
              Total page count: ---page-count---
            </p>

            <p class="txt-small">
              Page index: ---page---
            </p>

            <p class="txt-small">
              Range: ---range---
            </p>

            <!--===edit===-->
            <div class="content-user">
              <div class="content-card-image">
                <img src="---SRC---" alt="USER IMAGE">
              </div>

              <span class="vertical-line"></span>

              <div class="content-card-info">
                <h4><b>Course information</b></h4>
                <p><b>Course name:</b> ---name---</p>
                <p><b>Course credits:</b> ---credits---</p>
                <p><b>Course duration: </b>---duration---</p>
              </div>

              <span class="vertical-line"></span>

              <div class="content-card-info">
                <h4><b>Other information</b></h4>
                <p><b>Added date:</b> ---date---</p>
                <p><b>Field of study:</b> ---field---</p>
              </div>

              <span class="vertical-line"></span>

              <div class="content-card-info">
                <form action="./profile" method="get">
                  <input type="hidden" name="ID" value="---ID---" />
                  <button type="submit" class="user-profile-project-button-visit">Visit</button>
                </form>
              </div>

              <span class="vertical-line"></span>

            </div>

            <!--===edit===-->
          </div>

          <hr />

          <div class="content-pagination">
              <div class="content-pagination-bar">
                <!--===edit===-->
                <div>
                  <a href="./people?page=---page---&filter_option=---filter_option---&action=---action---"><button type="submit" class="pagination-button"> 🡸 </button></a>
                </div>
                <!--===edit===-->
                <div>
                  <a href="./people?page=---page---&filter_option=---filter_option---&action=---action---"><button type="submit" class="pagination-button"> 🡺 </button></a>
                </div>
                <!--===edit===-->
            </div>
            <form method="get">
                <input type="text" name="filter_option" value="---filter_option---" hidden>
                <input type="text" name="action" value="---action---" hidden>
                <input class="user-input-text" type="number" name="page"  placeholder="PAGE INDEX" required>
                <input class="user-profile-project-button-visit" type="submit" width="50px" height="50px" name="submit" value="Go to page"></input>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  openTab(event, 'Courses');

  function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("profile-tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
