<div class="container">
  <div class="content-container">
    <div class="startpage-flex-item">
      <h4>Title: ---title---</h4>
      <h4>Created: ---created---</h4>
      <h4>Views: ---views---</h4>
      
      <div class="display-result-box">
        <p class="txt-small">
          Total page count: ---page-count---
        </p>
    
        <p class="txt-small">
          Page index: ---page---
        </p>
    
        <p class="txt-small">
          Range: ---range---
        </p>
        
        <!--===edit===-->
        <form method="get" action="/UniShare/post">
          <input name="ID" value="---ID---" hidden />
          <input class="button-style-4" type="submit" value="Add forum post">
        </form>
        
         <!--===edit===-->
         
        <div id="---userID---,---forumID---" class="review">
          <div class="comment-image">
            <img src="---userImage---" alt="USER IMG"></img>
          </div>

          <br />
          
          <p>
            Username: ---userDisplayName---
            Posted: ---posted---
          </p>
          
          <div class="review-border">
            <div class="review-text">
              ---text---
            </div>
          </div>
        </div>
        <!--===edit===-->
      </div>
    </div>
  </div>
  <div class="content-pagination">
      <div class="content-pagination-bar">
        <!--===edit===-->
        <div>
          <a href="./forum?ID=---ID---&page=---page---"><button type="submit" class="pagination-button"> 🡸 </button></a>
        </div>
        <!--===edit===-->
        <div>
          <a href="./forum?ID=---ID---&page=---page---"><button type="submit" class="pagination-button"> 🡺 </button></a>
        </div>
        <!--===edit===-->
    </div>
    <form method="get">
        <input name="ID" value="---ID---" type="hidden" />
        <input class="user-input-text" type="number" name="page"  placeholder="PAGE INDEX" required>
        <input class="button-style-4" type="submit" width="50px" height="50px" name="submit" value="Go to page"></input>
    </form>
  </div>
</div>
