<div class="container">
   <div class="content-container">
     <div class="flex-item">
       <div class="user-input-form-box">
         <form method="post" enctype='multipart/form-data' action="./degree/upload">
           <h4>
             Degree name
           </h4>
           <input class="user-input-text" type="text" name="name" placeholder="Degree name">
           <h4>
             Field of study
           </h4>
           <input class="user-input-text" type="text" name="field_of_study" placeholder="Field of study">
           <h4>
             Start date
           </h4>
           <input class="user-input-text" type="date" name="start_date" placeholder="Start date">
           <h4>
             End date
           </h4>
           <input class="user-input-text" type="date" name="end_date" placeholder="End date">
           <h4>
             Country
           </h4>
           <input class="user-input-text" type="text" name="country" placeholder="Country">
           <h4>
             City
           </h4>
           <input class="user-input-text" type="text" name="city" placeholder="City">
           <h4>
             University
           </h4>
           <input class="user-input-text" type="text" name="university" placeholder="University">
           <p>
             <input class="button-style-1" type="submit" name="submit_project" value="Upload">
           </p>
         </form>
       </div>        
     </div>
   </div>
  </div>
</div>