<nav>
  <div class="logo">
    <h4>UniShare</h4>
  </div>
  <ul class="nav-links">
    ---navigation---
  </ul>
</nav>
<div id="header2">
  <ul class="nav-links">
    <li>
      <a href='./searchPeople'>People</a>
    </li>
    <li>
      <a href='./searchCourses'>Courses</a>
    </li>
    <li>
      <a href='./searchCourses'>Forum</a>
    </li>
    <li>
      <a href='./searchCourses'>Request course</a>
    </li>
    <li>
      <a href='./searchCourses'>Contact us</a>
    </li>
  </ul>
</div>

<!--admin-->
<div id="adminHeader">
  <ul class="nav-links">
    <li>
      <a href='./admin'>Administer website content</a>
    </li>
  </ul>
</div>
<!--admin-->
