<div class="container">
  <form>
    <div class="content-filter-box">
      <div class="content-filter-box-cell">
        <div class="content-filter-bg">
          <p>
            Select filter option
          </p>
          <select class="content-filter-select" name="filter_option">
            <option value="name">Name</option>
            <option value="credits">Credits</option>
            <option value="duration">Duration</option>
            <option value="average_rating">Rating</option>
            <option value="added">Added</option>
            <option value="city">City</option>
            <option value="country">Country</option>
            <option value="university">University</option>
          </select>
        </div>
      </div>

      <div class="content-filter-box-cell">
        <div class="content-filter-bg">
          <fieldset name="filter_order">
            <div class="wrapper">
               <input type="radio" name="action" id="option-1" value="ASC">
               <input type="radio" name="action" id="option-2" value="DESC" checked>
               <label for="option-1" class="option option-1">
                 <div class="dot"></div>
                  <span>ASC</span>
                  </label>
               <label for="option-2" class="option option-2">
                 <div class="dot"></div>
                  <span>DESC</span>
               </label>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="content-filter-box-cell">
        <div class="content-filter-bg">
          <p>
            Search
            <input class="user-input-text" id="email" type="text" name="search" placeholder="Search">
          </p>
        </div>
      </div>

      <div class="content-filter-box-cell">
        <div class="content-filter-bg">
          <button class="button-style-4" type="submit" name="filter_button" value="GO">Filter</button>
        </div>
      </div>
    </div>

  </form>

  <div class="display-result-box">
    <p class="txt-small">
      Total page count: ---page-count---
    </p>

    <p class="txt-small">
      Page index: ---page---
    </p>

    <p class="txt-small">
      Range: ---range---
    </p>

    <!--===edit===-->
    <div class="content-card-body">
      <div class="content-user">
        <div class="content-card-image">
          <img src="images/books.png" alt="USER IMAGE">
        </div>

        <div class="content-card-info">
          <h4><b>Course information</b></h4>
          <p><b>Name:</b> ---name---</p>
          <p><b>Credits:</b> ---credits---</p>
          <p><b>Duration: </b>---duration---</p>
          <p><b>University: </b>---university---</p>
        </div>

        <div class="content-card-info">
          <h4><b>More</b></h4>
          <p><b>Score:</b> ---score---</p>
          <p><b>Country:</b> ---country---</p>
          <p><b>City:</b> ---city---</p>
          <p><b>Added:</b> ---added---</p>
        </div>

        <div class="content-card-info-buttons">
          <!--===edit===-->
          <button class="---CSS---" id="---ID---" type="submit" onclick="return clickButton(---ID---);">---ADD_REMOVE---</button>
          <!--===edit===-->

          <form action="./courses" method="get">
            <input type="hidden" name="ID" value="---ID---" />
            <button class="button-style-1" type="submit">Visit</button>
          </form>
        </div>
      </div>
    </div>
    <!--===edit===-->
  </div>

  <hr />

  <div class="content-pagination">
      <div class="content-pagination-bar">
        <!--===edit===-->
        <div>
          <a href="./searchCourses?page=---page---&filter_option=---filter_option---&search=---search---&action=---action---"><button type="submit" class="pagination-button"> 🡸 </button></a>
        </div>
        <!--===edit===-->
        <div>
          <a href="./searchCourses?page=---page---&filter_option=---filter_option---&search=---search---&action=---action---"><button type="submit" class="pagination-button"> 🡺 </button></a>
        </div>
        <!--===edit===-->
    </div>
    <form method="get">
        <input type="text" name="filter_option" value="---filter_option---" hidden>
        <input type="text" name="action" value="---action---" hidden>
        <input type="text" name="search" value="---search---" hidden>
        <input class="user-input-text" type="number" name="page"  placeholder="PAGE INDEX" required>
        <input class="button-style-4" type="submit" width="50px" height="50px" name="submit" value="Go to page"></input>
    </form>
  </div>
</div>

<script>
  function clickButton(courseID)
  {
    $.ajax({
       url: "./toggleCourseToDegree",
       type: "POST",
       data:{courseID: courseID},
       dataType: "json",
       success:function(res){
          var status = res["data"]["Status"];
          if(status == 'Inserted'){
            document.getElementById(courseID).innerText = "REMOVE from degree";
            document.getElementById(courseID).classList.remove("button-style-3");
            document.getElementById(courseID).classList.add("button-style-2");
          }
          if(status == 'Deleted'){
            document.getElementById(courseID).innerText = "ADD to degree";
            document.getElementById(courseID).classList.remove("button-style-2");
            document.getElementById(courseID).classList.add("button-style-3");

          }
       },
       error:function(res){
         alert('Error!');
         console.log(res);
       }
     });
  }
</script>
