<div class="container">
  <div class="content-container">
    <div class="fixed">
      <div class="user-profile">
        <div class="user-image">
          <img src="---SRC---" alt="USER IMAGE">
        </div>

        <!--===edit===-->
        <div class='user-upload-image-center'>
          <form method='post' enctype='multipart/form-data' action='./profile/upload/image'>
            <p>
              <input type='file' name='file' value='Upload' />
            </p>
            <p>
              <input type='submit' name='submit_image' value='Upload' />
            </p>
          </form>
        </div>
        <!--===edit===-->

        <hr />
        <br />

        <form action="./settings">
          <button type="submit" class="user-profile-project-button-visit">Settings</button>
        </form>

        <hr />

        <div>
          <h2>
            Display name
          </h2>
        </div>

        <div>
          ---display_name---
        </div>

        <div>
          <h2>
            First name
          </h2>
        </div>

        <div>
          ---First_name---
        </div>

        <div>
          <h2>
            Last name
          </h2>
        </div>

        <div>
          ---Last_name---
        </div>

        <div>
          <h2>
            Last online
          </h2>
        </div>

        <div>
          ---Date---
        </div>

        <div>
          <h2>
            Visits
          </h2>
        </div>

        <div>
          ---Visits---
        </div>

        <div>
          <h2>
            Added projects
          </h2>
        </div>

        <div>
          ---Added_projects---
        </div>

        <div>
          <h2>
            Completed courses
          </h2>
        </div>

        <div>
          ---Completed_courses---
        </div>

        <hr />

        <div>
          <h2>
            Description
          </h2>
        </div>
        <div class="user-description">
          testadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwa
        </div>
      </div>
    </div>
    <div class="flex-item">
      <div class="user-content">

        <!-- Tabs -->
        <div class="profile-tab">
          <button class="tablinks" onclick="openTab(event, 'Projects')">Projects</button>
          <button class="tablinks" onclick="openTab(event, 'Degrees')">Degrees</button>
          <button class="tablinks" onclick="openTab(event, 'Courses')">Courses</button>
        </div>

        <div id="Projects" class="profile-tabcontent">
          <h2 class="user-input-form-box">
            Projects
          </h2>
          <!--===edit===-->
          <div class="user-input-form-box">
            <h3> Enter project information</h3>
            <form method="post" enctype='multipart/form-data' action='./profile/upload/project'>
              <input class="user-input-text" type="text" name="link" placeholder="Enter link">
              <input class="user-input-text" type="text" name="name" placeholder="Project name">
              <br />
              <textarea class="user-input-text" type="text" name="description" placeholder="Enter description"></textarea>
              <p>
                Project image
                <input type='file' name='project-file' value='Upload' />
              </p>

              <br />
              Render image with only text.
              <input type="checkbox" name="customCheck">
              <p>
                <input class="user-input-text" type="text" name="custom" placeholder="TEXT">
              </p>
              <p>
                <input class="user-profile-project-button-upload" type="submit" name="submit_project" value="Upload">
              </p>
            </form>
          </div>
          <!--===edit===-->

          <hr />

          <!-- Projects -->
          <div class="wrapper-grid">
            <!--===edit===-->
            <div class="wrapper-container-item">
              <img src='---PROJECT-SRC---' alt='profile image' class="medium-image">

              <div class="user-profile-project-description-box">
                <h1>---name---</h1>
              </div>

              <form action="./project">
                <input hidden value="---ID---" name="ID"></input>
                <button type="submit" class="user-profile-project-button-visit">Go to project details</button>
              </form>

              <!--===edit===-->
              <form action='./profile/delete/project' method="post">
                <input hidden value="Delete" name="---ID---"></input>
                <button type="submit" class="user-profile-project-button-delete">Delete</button>
              </form>
              <!--===edit===-->

            </div>
            <!--===edit===-->
          </div>
        </div>

        <div id="Degrees" class="profile-tabcontent">
          <!--===Degrees===-->
          <h2 class="user-input-form-box">
            Degrees
          </h2>

          <!--===edit===-->
          <div class="user-input-form-box">
            <h3> Enter degree</h3>
            <form method="post" enctype='multipart/form-data' action="../../includes/register-project-inc.php">
              <input class="user-input-text" type="text" name="name" placeholder="Degree name">
              <input class="user-input-text" type="text" name="name" placeholder="Field of study">
              <input class="user-input-text" type="date" name="name" placeholder="Start date">
              <input class="user-input-text" type="date" name="name" placeholder="End date">
              <input class="user-input-text" type="number" name="name" placeholder="Total credits">
              <br />
              <textarea class="user-input-text" type="text" name="description" placeholder="Enter description"></textarea>
              <p>
                Degree image
                <input type='file' name='degree-file' value='Upload' />
              </p>
              <p>
                <input class="user-profile-project-button-upload" type="submit" name="submit_project" value="Upload">
              </p>
            </form>
          </div>
          <!--===edit===-->

          <hr />

          <div class="user-degree-wrapper-grid">
            <!--===edit===-->
            <div class="user-degree-container">

            </div>
            <!--===edit===-->
          </div>
        </div>


        <!--Courses-->

        <div id="Courses" class="profile-tabcontent">
          <!--===Degrees===-->
          <h2 class="user-input-form-box">
            Courses
          </h2>

          <div class="user-input-form-box">
            <h3> Enter degree</h3>
            <form method="post" enctype='multipart/form-data' action="./">
              <input class="user-input-text" type="text" name="name" placeholder="Course name">
              <input class="user-input-text" type="number" name="name" placeholder="Credits">
              <input class="user-input-text" type="text" name="name" placeholder="Link to degree:">
              <textarea class="user-input-text" type="text" name="description" placeholder="Enter description"></textarea>
              <p>
                <input class="user-profile-project-button-upload" type="submit" name="submit_project" value="Upload">
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  openTab(event, 'Projects');

  function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("profile-tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
