<div class="container">
  <div class="content-container">
    <div class="fixed">
      <div class="user-profile">
        <!--===edit===-->
        <div class="user-image">
          <img src="images/books.png" alt="USER IMAGE">
        </div>

        <hr />

        <div>
          <h3>
            Course name
          </h3>
        </div>

        <p>
          ---name---
        </p>

        <div>
          <h3>
            Credits
          </h3>
        </div>

        <p>
          ---credits---
        </p>

        <div>
          <h3>
            Duration (YEARS)
          </h3>
        </div>

        <p>
          ---duration---
        </p>

        <div>
          <h3>
            Added
          </h3>
        </div>

        <p>
          ---added---
        </p>

        <div>
          <h3>
            Field of study
          </h3>
        </div>

        <p>
          ---field---
        </p>

        <div>
          <h3>
            Location
          </h3>
        </div>

        <p>
          ---location---
        </p>

        <div>
          <h3>
            University
          </h3>
        </div>

        <p>
          ---university---
        </p>
        <!--===edit===-->
      </div>
    </div>
    <div class="flex-item">
      <div class="user-content">
        <div class="course-container">
          <div class="course-sections-statistics">
            <!--===edit===-->
            <div class="course-info">
              <div class="score">
                Score ( ---score--- )
              </div>
              <p>Total votes: ( ---total_votes--- )</p>
            </div>

            <br />

            <div class="course-info">
              <p>Overall popularity rating: #---popularity-rank--- </p>
              <p>Overall ranking rating: #---ranking-rank--- </p>
            </div>

            <div class="course-info">
              <p>Recommendations: ---recommendations--- </p>
            </div>

            <div class="course-info">
              <p>Amount of reviews ( ---reviews--- )</p>
            </div>

            <hr />
            <!--===edit===-->
          </div>

          <!--===edit===-->
          <div class="course-sections">
            <div class="course-info">
              <p>Your rating ---rating--- </p>
            </div>
            <p>Enter a rating</p>
            <form>
              <select id="rating" name="rating">
                <option value="0">0 (Default)</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </form>
          </div>
          <!--===edit===-->

          <div class="course-sections">
            <br />
            
            <!--===edit===-->
            <form method="get" action="./review">
              <input name="ID" value="---ID---" hidden />
              <input class="user-profile-project-button-visit" type="submit" value="Type review">
            </form>
             <!--===edit===-->

            <div class="review">
              Comment 1
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

  function findGetParameter(parameterName) {
      var result = null,
          tmp = [];
      var items = location.search.substr(1).split("&");
      for (var index = 0; index < items.length; index++) {
          tmp = items[index].split("=");
          if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
      }
      return result;
  }

  $.ajax ( {
      url: "./course/getrate",
      type: 'GET',
      data:{ courseID: findGetParameter("ID")},
      dataType: "json",
      success: function ( res ){
        var rating = res['data']['rating'];
        document.getElementById("rating").value = rating;
      }
  });

  $('select').on('change', function() {
    $.ajax({
       url: "./course/setrate",
       type: "POST",
       data:{courseID: findGetParameter("ID"), rating: this.value},
       dataType: "json",
       success:function(data){
         console.log("Updated rating for course: " + findGetParameter("ID"));
       }
     });
  });
</script>
