<div class="container">
  <div class="request-course-container">
    <div class="user-input-form-box">
      <form method="post" action="./course/upload/review">
        
        <div class="course-rate-box">
          <div class="course-rate-cell">
            <h4>Difficulty</h4>
            <select>
              <option value="0">0 (Default)</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
          
          <div class="course-rate-cell">
            <h4>Difficulty</h4>
            <select>
              <option value="0">0 (Default)</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
          
          <div class="course-rate-cell">
            <h4>Difficulty</h4>
            <select>
              <option value="0">0 (Default)</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
          
          <div class="course-rate-cell">
            <h4>Grading</h4>
            <select>
              <option value="0">0 (Default)</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        
          <div class="course-rate-cell">
            <h4>Litterature</h4>
            <select>
              <option value="0">0 (Default)</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
          
          <div class="course-rate-cell">
            <h4>Overall</h4>
            <select>
              <option value="0">0 (Default)</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>

        <h4>
          Write a review
        </h4>
        <textarea class="user-input-text" type="text" name="name" placeholder="Text"></textarea>
        <h4>
          Recommend?
          <input type="checkbox" value="Recommend"/>
        </h4>
        <p>
          <input class="user-profile-project-button-upload" type="submit" name="submit_project" value="Upload">
        </p>
      </form>
    </div>
    <div class="review-info">
      
    </div>
  </div>
</div>
