<div class="container">
   <div class="content-container">
     <div class="flex-item">
       <div class="user-input-form-box">
         <form method="post" enctype='multipart/form-data' action="./project/update">
           <h1>Update project</h1>
           <input id="projectID" name="projectID" value="---ID---" hidden />
           <input class="user-input-text" id="name" type="text" name="name" placeholder="Name">
           <br />
           <p>
             Project image
             <input class="form-text" type='file' name='project-file' value='Upload' />
           </p>

           <input class="user-input-text" id="link" type="text" name="link" placeholder="Link">
           <div id="project-text">
             <textarea class="user-input-text" id="description" type="text" name="description" placeholder="Enter description"></textarea>
           </div>
           <button type="submit" class="button-style-1">Update</button>
        </form>
     </div>
   </div>
  </div>
</div>

<script>
  var projectID = document.getElementById('projectID').value;
  console.log(projectID);

  $.ajax ( {
      url: "./project/get",
      type: 'GET',
      data:{projectID: projectID},
      dataType: "json",
      success: function ( res ){
        console.log(res);
        var name = res['data']['Name'];
        var link = res['data']['Link'];
        var description = res['data']['Description'];

        document.getElementById("name").value = name;
        document.getElementById("link").value = link;
        document.getElementById("description").value = description;
      },
      error: function ( res ){
        console.log(res);
      }
  });
</script>
