<div class="container">
   <div class="content-container">
     <div class="flex-item">
       <div class="user-input-form-box">
         <form method="post" enctype='multipart/form-data' action="/UniShare/project/update">
           <h1>Update project</h1>
           <input id="projectID" name="projectID" value="---ID---" hidden />
           <input class="user-input-text" id="name" type="text" name="name" placeholder="Name">
           <br />
           <p>
             Project image
             <input class="form-text" type='file' name='project-file' />
           </p>

           <input class="user-input-text" id="link" type="text" name="link" placeholder="Link">
           <div id="project-text">
             <textarea class="user-input-text" id="description" name="description" placeholder="Enter description"></textarea>
           </div>
           <button type="submit" class="button-style-1">Update</button>
        </form>
     </div>
   </div>
  </div>
</div>

<script src="/Unishare/js/ProjectPage.js" type="text/javascript"></script>

