  <div class="container">
    <div class="form-authentication-container">
      <h1>Register</h1>
      <form method="post">
        <div class="text_field">
          <input type="text" name="first_name" required>
          <label>First name</label>
        </div>
        <div class="text_field">
          <input type="text" name="last_name" required>
          <label>Last name</label>
        </div>
        <div class="text_field">
          <input type="text" name="email" required>
          <label>Email</label>
        </div>
        <div class="text_field">
          <input type="text" name="display_name" required>
          <label>Display name</label>
        </div>
        <div class="text_field">
          <input type="password" name="password" required>
          <label>Password</label>
        </div>
        <div class="text_field">
          <input type="password" name="password_repeat" required>
          <label>Repeat password</label>
        </div>
        <input type="submit" name="submit_register" value="Register">
      </form>
      <h4 class="form-authentication-text">Already have an account? <a href="login.php">Login</a></h4>
    </div>
  </div>
