<div class="container">
      <div class="content-container">
        <div class="fixed">
          <div class="user-profile">
            <div class="user-image">
              <img src="---SRC---" alt="USER IMAGE">
            </div>

            <!--===edit===-->
            <hr />

            <form method='post' enctype='multipart/form-data' action='./profile/upload/image'>
              <p>
                <input type='file' name='file' value='Upload' />
              </p>
              <p>
                <input class="user-profile-project-button-upload" type='submit' name='submit_image' value='Upload' />
              </p>
            </form>
            <hr />
            <br />

            <form action="./settings">
              <button type="submit" class="user-profile-project-button-visit">Settings</button>
            </form>
            <!--===edit===-->

            <hr />

            <div>
              <h3>
                Display name
              </h3>
            </div>

            <p>
              ---display_name---
            </p>

            <div>
              <h3>
                First name
              </h3>
            </div>

            <p>
              ---First_name---
            </p>

            <div>
              <h3>
                Last name
              </h3>
            </div>

            <p>
              ---Last_name---
            </p>

            <div>
              <h3>
                Last online
              </h3>
            </div>

            <p>
              ---Date---
            </p>

            <div>
              <h3>
                Visits
              </h3>
            </div>

            <p>
              ---Visits---
            </p>

            <div>
              <h3>
                Added projects
              </h3>
            </div>

            <p>
              ---Added_projects---
            </p>

            <div>
              <h3>
                Account status
              </h3>
            </div>

            <p>
              ---privilege---
            </p>

            <hr />

            <div>
              <h3>
                Description
              </h3>
            </div>
            <div class="user-description">
              testadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwatestadwawddwadawwa
            </div>
          </div>
        </div>

        <div class="flex-item">
          <div class="user-content">
            <div class="profile-tab">
              <button class="tablinks" onclick="openTab(event, 'Projects')">Projects</button>
              <button class="tablinks" onclick="openTab(event, 'Degrees')">Degrees</button>
              <button class="tablinks" onclick="openTab(event, 'Publications')">Publications</button>
            </div>

            <div id="Projects" class="profile-tabcontent">
              <h3 class="user-input-form-box">
                Projects
              </h3>

              <!--===edit===-->
              <div class="user-input-form-box">
                <h3> Enter project information</h3>
                <form method="post" enctype='multipart/form-data' action='./profile/upload/project'>
                  <input class="user-input-text" type="text" name="link" placeholder="Enter link">
                  <input class="user-input-text" type="text" name="name" placeholder="Project name">
                  <br />
                  <textarea class="user-input-text" type="text" name="description" placeholder="Enter description"></textarea>
                  <p>
                    Project image
                    <input type='file' name='project-file' value='Upload' />
                  </p>

                  <br />
                  Render image with only text.
                  <input type="checkbox" name="customCheck">
                  <p>
                    <input class="user-input-text" type="text" name="custom" placeholder="TEXT">
                  </p>
                  <p>
                    <input class="user-profile-project-button-upload" type="submit" name="submit_project" value="Upload">
                  </p>
                </form>
              </div>
              <!--===edit===-->

              <hr />

              <!--===edit===-->
              <div class="user-projects-box">
                <div class="course-container">
                  <div class="project">
                    <div class="project-card">
                      <img src='---PROJECT-SRC---' alt='profile image' class="project-image">

                      <div class="project-line"></div>

                      <div class="user-profile-project-description-box">
                        <h2>Name</h2>
                        <p>---name---</p>

                        <h2>Description</h2>
                        <p class="project-description">
                          ---description---
                        </p>

                        <h2>External link</h2>

                        <a href="---LINK---">---LINK---</a>

                      </div>
                    </div>
                    <!--===edit===-->
                    <form action="./project">
                      <input hidden value="---ID---" name="ID"></input>
                      <button type="submit" class="user-profile-project-button-visit">Edit</button>
                    </form>

                    <form action='./profile/delete/project' method="post">
                      <input hidden value="Delete" name="---ID---"></input>
                      <button type="submit" class="button-style-2">Delete</button>
                    </form>
                    <!--===edit===-->
                  </div>
                </div>
              </div>
              <!--===edit===-->
            </div>

            <div id="Degrees" class="profile-tabcontent">
              <h3 class="user-input-form-box">
                Degrees
              </h3>

              <!--===edit===-->
              <div class="user-input-form-box">
                <form method="post" enctype='multipart/form-data' action="./degree/upload">
                  <h4>
                    Degree name
                  </h4>
                  <input class="user-input-text" type="text" name="name" placeholder="Degree name">
                  <h4>
                    Field of study
                  </h4>
                  <input class="user-input-text" type="text" name="field_of_study" placeholder="Field of study">
                  <h4>
                    Start date
                  </h4>
                  <input class="user-input-text" type="date" name="start_date" placeholder="Start date">
                  <h4>
                    End date
                  </h4>
                  <input class="user-input-text" type="date" name="end_date" placeholder="End date">
                  <h4>
                    Location
                  </h4>
                  <input class="user-input-text" type="text" name="location" placeholder="Location">
                  <p>
                    <input class="user-profile-project-button-upload" type="submit" name="submit_project" value="Upload">
                  </p>
                </form>
              </div>
              <!--===edit===-->

              <hr />

              <!--===edit===-->
              <div class="degree-box">
                <!--===edit===-->
                <div class="degree-info-panel">
                  <h1>---degree_name---</h1>
                  <h3>Included courses</h3>
                </div>

                <!--===edit===-->
                <div class="content-card-body">
                  <div class="content-user">
                    <div class="content-card-image">
                      <img src="images/books.png" alt="USER IMAGE">
                    </div>

                    <div class="content-card-info">
                      <p><b>Name:</b>---name---</p>
                      <p><b>Credits: </b>---credits---</p>
                      <p><b>University: </b>---university---</p>
                    </div>

                    <div class="content-card-info-buttons">
                      <form action="./courses" method="get">
                        <input type="hidden" name="ID" value="---ID---" />
                        <button class="button-style-1" type="submit">Go to course page</button>
                      </form>
                    </div>
                  </div>
                </div>
                <!--===edit===-->
              </div>
              <!--===edit===-->
            </div>

            <div id="Publications" class="profile-tabcontent">
              <h3 class="user-input-form-box">
                Publications
              </h3>

              <!--===edit===-->
              <div class="user-input-form-box">
                <form method="post" enctype='multipart/form-data' action="./degree/upload">
                  <h4>
                    Publications name
                  </h4>
                  <input class="user-input-text" type="text" name="name" placeholder="Degree name">
                  <h4>
                    Field of study
                  </h4>
                  <input class="user-input-text" type="text" name="field_of_study" placeholder="Field of study">
                  <h4>
                    Start date
                  </h4>
                  <input class="user-input-text" type="date" name="start_date" placeholder="Start date">
                  <h4>
                    End date
                  </h4>
                  <input class="user-input-text" type="date" name="end_date" placeholder="End date">
                  <h4>
                    Location
                  </h4>
                  <input class="user-input-text" type="text" name="location" placeholder="Location">
                  <p>
                    <input class="user-profile-project-button-upload" type="submit" name="submit_project" value="Upload">
                  </p>
                </form>
              </div>
              <!--===edit===-->
              <hr />
              <h1>~ Coming soon!</h1>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <div class="profile-comment-container">
        <div class="profile-comment-form">
          <h2>
            Post comment
          </h2>
          <textarea id="text" name="text"></textarea>
          <p>
            <input class="user-profile-project-button-upload" value="Post comment" onclick="return addComment();">
          </p>
        </div>

        <hr />

        <h3 class="user-input-form-box">
          Comments
        </h3>

        <!--===edit===-->
        <div id="---ID---">
          <div class="profile-comment">
            # ---number---

            <br />
            <div class="comment-image">
              <img src="---SRC---" alt="USER IMAGE">
            </div>

            Username: ---DISPLAY_NAME---
            <div class="comment-content">
              <div class="user-description">
                ---text---
              </div>
            </div>
            <hr />
            <b>Comment date: ---added---</b>
            <!--===edit===-->
            <input class="button-style-2" value="Delete comment" id="---ID---" onclick="return deleteComment(---ID---);">
            <!--===edit===-->
          </div>
        </div>
        <!--===edit===-->

      </div>
    </div>

    <script>

      function findGetParameter(parameterName) {
          var result = null,
              tmp = [];
          var items = location.search.substr(1).split("&");
          for (var index = 0; index < items.length; index++) {
              tmp = items[index].split("=");
              if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
          }
          return result;
      }

      openTab(event, 'Projects');

      function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("profile-tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
      }

      function deleteComment(ID){
        $.ajax({
           url: "./profile/delete/comment",
           type: "POST",
           data:{commentID: ID},
           dataType: "json",
           success:function(res){
             console.log(res);
             var canRemove = res["data"]["Status"];
             if(canRemove){
               var ID = res["data"]["ID"];
               document.getElementById(ID).remove();
             }
           },
           error:function(res){
             console.log(res);
           }
         });
      }

      function addComment(){
        var text = document.getElementById("text").value;

        $.ajax({
           url: "./profile/add/comment",
           type: "POST",
           data:{pageID: findGetParameter("ID"), text: text},
           dataType: "json",
           success:function(res){
             location.reload();
           },
           error:function(res){
             console.log("Error.");
             console.log(res);
           }
         });
      }
    </script>
