<div class="container">
    <div class="content-container">
        <div class="fixed">
          <div class="user-profile">
            <div class="user-image">
              <img src="---SRC---" alt="USER IMAGE">
            </div>

            <!--===edit===-->
            <hr />

            <form method='post' enctype='multipart/form-data' action='./profile/upload/image'>
              <p>
                <input type='file' name='file'/>
              </p>
              <p>
                <input class="button-style-1" type='submit' name='submit_image' value='Upload' />
              </p>
            </form>
            <hr />
            <br />

            <form action="./settings">
              <button type="submit" class="button-style-4">Settings</button>
            </form>
            <!--===edit===-->

            <hr />

            <div>
              <h3>
                Display name
              </h3>
            </div>

            <p>
              ---display_name---
            </p>

            <div>
              <h3>
                First name
              </h3>
            </div>

            <p>
              ---First_name---
            </p>

            <div>
              <h3>
                Last name
              </h3>
            </div>

            <p>
              ---Last_name---
            </p>

            <div>
              <h3>
                Last seen
              </h3>
            </div>

            <p>
              ---Date---
            </p>

            <div>
              <h3>
                Joined
              </h3>
            </div>

            <p>
              ---joined---
            </p>

            <div>
              <h3>
                Visits
              </h3>
            </div>

            <p>
              ---Visits---
            </p>

            <div>
              <h3>
                Added projects
              </h3>
            </div>

            <p>
              ---Added_projects---
            </p>

            <div>
              <h3>
                Account status
              </h3>
            </div>

            <p>
              ---privilege---
            </p>

            <hr />

            <div>
              <h3>
                Description
              </h3>
            </div>
            <div class="user-description">
              ---description---
            </div>
          </div>
        </div>

        <div class="flex-item">
          <div class="user-content">
            <div class="profile-tab">
              <button class="tablinks" id="projectTab" >Projects</button>
              <button class="tablinks" id="degreeTab">Degrees</button>
              <button class="tablinks" id="publicationTab">Publications</button>
            </div>

            <div id="Projects" class="profile-tabcontent">
              <h3 class="user-input-form-box">
                Projects
              </h3>

              <!--===edit===-->
                <form method="get" action="/UniShare/project/add">
                  <input class="button-style-1" type='submit' name='add project' value='Upload new project'/>
                </form>
              <!--===edit===-->

              <hr />

              <!--===edit===-->
              <div id="project----ID---" class="user-projects-box">
                <div class="course-container">
                  <div class="project">
                    <div class="project-card">
                      <img src='---PROJECT-SRC---' alt='profile image' class="project-image">

                      <div class="project-line"></div>

                      <div class="user-profile-project-description-box">
                        <h2>Name</h2>
                        <p>---name---</p>

                        <h2>Description</h2>
                        <p class="project-description">
                          ---description---
                        </p>

                        <h2>External link</h2>

                        <a href="---LINK---">---LINK---</a>

                        <p>
                          <b>Added: ---date---</b>
                        </p>
                      </div>
                    </div>
                    <!--===edit===-->
                    <form action="/UniShare/project/update">
                      <input hidden value="---ID---" name="ID">
                      <button type="submit" class="button-style-4">Edit</button>
                    </form>
                      <button type="submit" class="button-style-2" onclick="return deleteProject(---ID---);">Delete</button>
                    <!--===edit===-->
                  </div>
                </div>
              </div>
              <!--===edit===-->
            </div>

            <div id="Degrees" class="profile-tabcontent">
              <h3 class="user-input-form-box">
                Degrees
              </h3>

              <!--===edit===-->
              <form method="get" action="/UniShare/degree/new">
                <input class="button-style-1" type='submit' name='add degree' value='Upload new degree'/>
              </form>
              <!--===edit===-->

              <hr />

              <!--===edit===-->
              <div id="degree----degreeID---" class="degree-box">
                <!--===edit===-->
                <div class="degree-info-panel">
                  <h1>---degree_name---</h1>
                  <h4>---school---</h4>
                  <h4>---country---</h4>
                  <h4>---city---</h4>
                  <h4>Sum total credits: SUM(credits) hp</h4>

                  <!--===edit===-->
                  <form action="/UniShare/degree/update" method="GET">
                    <input name="ID" value="---degreeID---" hidden />
                    <button class="button-style-4">Edit degree</button>
                  </form>

                  <button class="button-style-2" onclick="deleteDegree(---degreeID---);">Delete degree</button>
                  <!--===edit===-->

                  <h3>Included courses</h3>
                  <a href="/UniShare/search/courses">Add courses to degree</a>
                </div>

                <!--===edit===-->
                <div id="course----ID---" class="course-profile">
                  <div class="content-card-body">
                    <div class="content-user">
                      <div class="content-card-image">
                        <img src="/UniShare/images/books.png" alt="USER IMAGE">
                      </div>

                      <div class="content-card-info">
                        <p><b>Name:</b>---name---</p>
                        <p><b>Credits: </b>---credits---</p>
                        <p><b>University: </b>---university---</p>
                      </div>

                      <div class="content-card-info-buttons">
                        <div class='row'>
                          <div class='column'>
                            <form action="./courses" method="get">
                              <input type="hidden" name="ID" value="---ID---" />
                              <button class="button-style-1" type="submit">Go to course page</button>
                            </form>
                          </div>

                          <!--===edit===-->
                          <div class='column'>
                              <button class="button-style-2" type="submit" onclick="deleteCourseInDegree(---DEGREE-ID---, ---ID---)">Remove course</button>
                          </div>
                          <!--===edit===-->

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--===edit===-->
              </div>
              <!--===edit===-->
            </div>

            <div id="Publications" class="profile-tabcontent">
              <h3 class="user-input-form-box">
                Publications
              </h3>

              <!--===edit===-->
              <form method="get" action="./publications">
                <input class="button-style-1" type='submit' name='add publication' value='Upload new publication'/>
              </form>
              <!--===edit===-->
              <hr />
              <h1>~ Coming soon!</h1>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <div class="profile-comment-container">
        <div class="profile-comment-form">
          <form id="addCommentForm">
            <h2>Post comment</h2>
            <input type="hidden" name="pageID" value="---ID---">
            <textarea id="commentText" name="text"></textarea>
            <button class="button-style-1" type="submit" id="addComment" value="Post comment">Add comment</button>
          </form>
        </div>

        <hr />

        <h3 class="user-input-form-box">
          Comments
        </h3>

        <p class="txt-small">
          Total page count: ---page-count---
        </p>

        <p class="txt-small">
          Page index: ---page---
        </p>

        <p class="txt-small">
          Range: ---range---
        </p>

        <!--===edit===-->
        <div id="---ID---">
          <div class="profile-comment">
            # ---number---

            <br />
            <div class="comment-image">
              <img src="---SRC---" alt="USER IMAGE">
            </div>

            Username: ---DISPLAY_NAME---
            <div class="comment-content">
              <div class="user-description">
                ---text---
              </div>
            </div>
            <hr />
            <b>Comment date: ---added---</b>
            <!--===edit===-->
            <input class="button-style-2" type="button" value="Delete comment" onclick="return deleteComment(---ID---);">
            <!--===edit===-->
          </div>
        </div>
        <!--===edit===-->
      </div>

      <div class="content-pagination">
          <div class="content-pagination-bar">
            <!--===edit===-->
            <div>
              <form method="GET">
                <input type="hidden" name="ID" value="---ID---" />
                <input type="hidden" name="page" value="---page---" />
                <button type="submit" class="pagination-button">🡸</button>
              </form>
            </div>
            <!--===edit===-->
            <div>
              <form method="GET">
                <input type="hidden" name="ID" value="---ID---" />
                <input type="hidden" name="page" value="---page---" />
                <button type="submit" class="pagination-button">🡺</button>
              </form>
            </div>
            <!--===edit===-->
            <form method="GET">
                <input class="user-input-text" type="number" name="page"  placeholder="PAGE INDEX" required>
                <input class="user-input-text" type="hidden" name="ID"  value="---ID---">
                <input class="button-style-4" type="submit" name="submit" value="Go to page">
            </form>
        </div>
      </div>
    </div>

    <script src="/Unishare/js/ProfilePage.js" type="text/javascript"></script>
