<div class="container">
   <div class="content-container">
     <div class="flex-item">
       <div class="user-input-form-box">
         <h3> Enter project information</h3>
         <form method="post" enctype='multipart/form-data' action='/UniShare/project/upload'>
           <input class="user-input-text" type="text" name="link" placeholder="Enter link">
           <input class="user-input-text" type="text" name="name" placeholder="Project name" required>
           <br />
           <textarea class="user-input-text" name="description" placeholder="Enter description" required></textarea>
           <p>
             Project image
             <input class="form-text" type='file' name='project-file' required/>
           </p>

           <h3>Create default image with text</h3>
           <input type='hidden'  name='customCheck' value='Off'>
           <input type="checkbox" name="customCheck" value="On">
           <p>
             <input class="user-input-text" type="text" name="custom" placeholder="TEXT">
           </p>
           <p>
             <input class="button-style-1" type="submit" name="submit_project" value="Upload">
           </p>
         </form>
       </div>
    </div>
  </div>
</div>

